node_modules/
dist/
dist_electron/
electron/dist/
*.exe
*.msi
*.zip
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.database/
sqlite/*.db
*.pid
*.seed
coverage/
.nuxt/
.next/
out/
dist/
build/
.cache/
tmp/
temp/
